* {
    transition: all 0.3s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-align: center;
    background-image: url(imagenes/01-geo.webp);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

.inicio {
    display: none;
}

#game {
    width: 300px;
    height: 300px;
    display: none;
}

#game-over {
    width: 300px;
    height: 600px;
    /* display: none; */
    background-color: #080808;
    color: white;
    margin-top: 37px;
}

h1 {
    color: #05812c;
}

#quiz-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: green;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.vida1,
.vida2 {
    width: 15px;
}


#bandera {
    border: 2px solid #05812c;
    background-color: #a6f6a6;
}

#progress-container {
    width: 200px;
    height: 10px;
    background-color: #ccc;
    margin: 10px auto;
}

#progress-bar {
    width: 100%;
    height: 100%;
    background-color: #69b542;
    transition: width 1s linear;
}

#opciones {
    display: flex;
    flex-direction: column;
    background-color: #05812c;
    padding: 3px 3px 12px 3px;
}

button {
    display: flex;
    width: 200px;
    margin: 10px 38px 3px 40px;
}

button:hover {
    background-color: #2a2929b4;
    color: white;
    cursor: pointer;
    transform: scale(1.1);
}

.span {
    padding-left: 14px;
}

#imgBandera {
    width: 270px;
    height: 150px;
}

#play-again {
    width: 110px;
    margin-left: 95px;
    background-color: ivory;
}

#play-again:hover {
    color: #fefdfd;
    background-color: #05812c;
    transform: scale(1.5);
}



#over {
    color: rgb(255, 255, 255);
    /* text-shadow: -1px -1px 0 #ffd700, 1px -1px 0 #ffd700, -1px 1px 0 #ffd700, 1px 1px 0 #ffd700; */
    /* background: linear-gradient(to right, #ffd700 50%, #ed1515 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(250, 22, 22);
    font-size: 46px;
}